<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Password</th>
        </tr>
        
        <tr>
<td>Name:<span>{{result.name}}</span></td>
<td>Phone:<span>{{result.email}}</span></td>
<td>email:<span>{{result.phone}}</span></td>
<td>password:<span>X{{result.password}}</span></td>
<td></td>
        </tr>
        
            
    </table>
    
</body>
</html>